
aiofiles==23.1.0
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.1.1
cloudscraper==1.2.64
colorama==0.4.5
cryptography==38.0.1
distlib==0.3.4
filelock==3.7.1
httptools==0.5.0
idna==3.4
iso8601==1.1.0
m3u8==3.3.0
multidict==6.0.4
pipenv==2022.5.2
platformdirs==2.5.2
pycparser==2.21
pyOpenSSL==22.1.0
pyparsing==3.0.9
PyYAML==6.0
requests==2.28.1
requests-toolbelt==0.10.0
sanic==22.12.0
sanic-ext==22.12.0
sanic-routing==22.8.0
six==1.16.0
Unidecode==1.3.6
urllib3==1.26.12
virtualenv==20.14.1
virtualenv-clone==0.5.7
websockets==10.4
